@import 'libs/bootstrap-reboot.min';
@import 'base/variables';
@import 'blocks/promo.scss';
@import 'blocks/title.scss';
@import 'blocks/button.scss';
@import 'base/mixins.scss';
@import 'blocks/sise.scss';
@import 'blocks/about.scss';
* {
    font-family: 'Monsserat', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
[class*="__container"]{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	}
	@media (max-width:1200px){
		[class*="__container"]{
			max-width: 970px;
		}
	}
	@media (max-width:990.98px){
		[class*="__container"]{
			max-width: 750px;
		}
	}
	@media (max-width:767px){
		[class*="__container"]{
			max-width: none;
		}
	}